{% extends "base.html" %}

{% block title %}Cadastro de Colaborador{% endblock %}

{% block content %}
<h1>Cadastro de Colaborador</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.cpf.label }}<br>
        {{ form.cpf(size=32) }}<br>
        {% for error in form.cpf.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>
    <div>
        {{ form.nome.label }}<br>
        {{ form.nome(size=32) }}<br>
        {% for error in form.nome.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>
    <div>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}<br>
        {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>
    <div>
        {{ form.telefone.label }}<br>
        {{ form.telefone(size=32) }}<br>
        {% for error in form.telefone.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>
    <div>
        {{ form.data_admissao.label }}<br>
        {{ form.data_admissao() }}<br>
        {% for error in form.data_admissao.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>
    <div>
        {{ form.cargo.label }}<br>
        {{ form.cargo(size=32) }}<br>
        {% for error in form.cargo.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>
    <div>
        {{ form.funcao.label }}<br>
        {{ form.funcao(size=32) }}<br>
        {% for error in form.funcao.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>
    <div>
        {{ form.usuario.label }}<br>
        {{ form.usuario(size=32) }}<br>
        {% for error in form.usuario.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>
    <div>
        {{ form.ativo.label }}<br>
        {{ form.ativo() }}<br>
        {% for error in form.ativo.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}
