{% extends "base.html" %}

{% block title %}Sistema de Cadastro e Ponto{% endblock %}

{% block content %}
<h1>XYZ</h1>
<h2>Sistema de Cadastro e Ponto</h2>

<form action="{{ url_for('routes.lista_colaboradores') }}" method="post">
    <label for="username">Usuário:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Senha:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Entrar</button>
</form>

<a href="{{ url_for('routes.registro_ponto') }}">Registro de Ponto</a>

{% endblock %}
