<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Cadastro e Ponto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>XYZ</h1>
    <h2>Sistema de Cadastro e Ponto</h2>
    <form action="{{ url_for('lista_colaboradores') }}" method="POST">
        <input type="text" name="usuario" placeholder="Usuário">
        <input type="password" name="senha" placeholder="Senha">
        <button type="submit">Entrar</button>
    </form>
    <a href="{{ url_for('registro_ponto') }}">Registro de Ponto</a>
</body>
</html>
