<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Ponto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Registro de Ponto</h1>
    <form action="{{ url_for('registro_ponto') }}" method="POST">
        <input type="text" name="usuario" placeholder="Usuário">
        <button type="submit">Registrar Entrada/Saída</button>
    </form>
</body>
</html>
